body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #f3f4f6; /* Light gray background */
  color: #111827; /* Dark text */
}

header {
  background-color: #4f46e5; /* Indigo color */
  color: white;
  padding: 20px;
}

main {
  padding: 20px;
}
